/*!
 * Start Bootstrap - Resume v5.0.7 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
}

.container.main_section{
    padding-top: 44px;
}

#sideNav.active {
    width:100%;
    display: block;
}

#sideNav {
    display: none;
}

div.navPanel {
    position:fixed;
    top:0;
    width:100%;
    height:44px;
    background-color: #000;
    z-index: 1200;
    margin-left:0 ;
    margin-right: 0;
}

.fa-bars{
    color: rgba(255,255,255,.5);
    font-size: 24px;
}

.logoText{
    color: rgba(255,255,255,.5);
    font-size: 26px;
    padding-top: 5px;
    font-weight: 800;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

button:focus {
    outline: transparent;
}

.navPanel:hover .fa-bars {
    color: #d58817;
}

.navPanel:hover .logoText {
    color: #d58817;
}

.resume-section{
    padding-top: 44px!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}
.navbar{
    display: block;
}
.img-profile{
    margin-top: 100%;
}

.social-icons a:hover {
  background-color: #BD5D38;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100%;
    z-index: 1040;
  }

  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0 ;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }

  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }

}
@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }

    div.navPanel{
        display: none;
    }

    #sideNav {
        margin-left: 0;
    }

    .navbar-btn{
        display: none;
    }

    .container.main_section{
        margin-left: auto;
    }

    #sideNav {
        display: block;
    }

    .img-profile{
        margin-top: 140%;
    }

}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-navbar {
  background-color: #000;
}

.text-primary {
  color: #d58817 !important;
}

a {
  color: #d58817;
}

a:hover, a:focus, a:active {
  color: #d58817;
}
